@import url(//db.onlinewebfonts.com/c/640850c0965fa5449af39df95c9970de?family=Hans+Kendrick+V4);
@font-face {
  font-family: "Hans Kendrick V4";
  src: url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.eot");
  src: url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.woff") format("woff"), url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/640850c0965fa5449af39df95c9970de.svg#Hans Kendrick V4") format("svg");
}

body {
  background: #e2e7ec;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #fff;
  font-family: "Hans Kendrick V4";
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: Arial;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 360px 360px 360px;
      grid-template-columns: 360px 360px 360px;
  gap: 20px;
  max-width: 1120px;
  margin: 90px auto;
}

.cell:first-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.content-first-block {
  position: relative;
}

.content-first-block img {
  display: block;
  width: 100%;
  z-index: -1;
}

.date {
  display: block;
  font-weight: medium;
  font-size: 13px;
  color: #818181;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.headline {
  display: block;
  font-weight: 900;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

.text {
  display: block;
  font-weight: 900;
  color: #1d1d1d;
  font-size: 22px;
  text-transform: uppercase;
}

.text-block {
  position: absolute;
  bottom: 40px;
  left: 60px;
  width: 100%;
}

.content {
  position: relative;
  max-width: 360px;
  height: 100%;
  background-color: white;
}

.content-block {
  padding: 25px 28px;
  position: relative;
}

.author {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 100px auto;
  font-size: 13px;
  color: #99a5b0;
  max-width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading::before {
  content: '';
  display: inline-block;
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-image: url(../images/loading.png);
}
/*# sourceMappingURL=style.css.map */